---
import agency from "../assets/images/marketing-agency.png";
import brainstorm from "../assets/images/brainstorm.png";
import solution from "../assets/images/solution.png";
---
<div id="aboutUsSection" class="businessScalingContainer w-100  flex flex-col items-center p-8">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3"
  >
    <div
      class="businessScalingCard p-8 m-8 bg-blue-700 min-h-[350px] h-fit min-w-[16em] shadow-[20px_24px_28px_0px_rgba(0,0,0,0.75)] flex flex-col transition duration-300 hover:scale-105 ease-out hover:ease-in  hover:rotate-[-2deg]"
    >
      <img class="" src={agency} alt="agency" width="30"/>
      <h2 class="text-white font-[500] mt-7">What Is Our Agency's Approach?</h2>
      <hr class="border-white border-b-[2px] w-6 mt-2 mb-8" />
      <p class="text-white font-[200]">
        We take a user-centered approach to UI/UX design, focusing on creating
        intuitive and engaging digital experiences for websites and apps.
      </p>
    </div>
    <div
      class="businessScalingCard p-8 m-8 bg-gray-900 min-h-[350px] h-fit min-w-[16em] shadow-[20px_24px_28px_0px_rgba(0,0,0,0.75)]  md:mt-48 lg:mt-28 xl:mt-28 2xl:mt-28 transition duration-300 ease-out hover:ease-in  hover:scale-105 hover:rotate-[-2deg]"
    >
      <img class="" src={solution} alt="solution lamp" width="30" />
      <h2 class="text-white font-[500] mt-7">What Problems Do We Solve?</h2>
      <hr class="border-white border-b-[2px] w-6 mt-2 mb-8" />
      <p class="text-white font-[200]">
        We develop websites and web/mobile apps that solve common UI/UX design
        problems, improving our clients' online presence and engagement with
        their target audience.
      </p>
    </div>
    <div class="businessScalingCard m-8 min-h-[350px] h-fit min-w-[16.9em] relative md:mt-[-6rem] lg:mt-56 xl:mt-56 2xl:mt-56 transition duration-300 ease-out hover:ease-in hover:scale-105 hover:rotate-[-2deg]">
      <div
        class="bg-gray-900 z-10 w-[calc(100%-10px)] shadow-[10px_0px_28px_0px_rgba(0,0,0,0.75)] p-8 mb-3"
      >
        <img class="" src={brainstorm} alt="trust" width="30"/>
        <h2 class="text-white font-[500] mt-7">Why Do You Trust Our Team?</h2>
        <hr class="border-white border-b-[2px] w-6 mt-2 mb-8" />
        <p class="text-white font-[200]">
          Our team has a proven track record of delivering high-quality, custom
          solutions that meet the unique needs and objectives of our clients. We
          prioritize user-centered design principles, collaboration, and
          communication throughout the development process.
        </p>
      </div>
      <div
        class="absolute bottom-0 z-[-1] right-0 bg-blue-800 h-[50px] w-[100%]"
      >
      </div>
    </div>
  </div>
</div>

<script>
// gsap.timeline({
//   defaults: {
//     opacity: 1,
//     },
//     scrollTrigger: {
//       trigger: ".businessScalingCard",
//       start: "top 100%",
//       end: "top center",
//       scrub: true,
//     },
//   }).fromTo(".businessScalingCard",{y:300,scale:0.4, opacity:0.4 }, {y:0,scale:1, opacity:1 });
//  gsap.timeline({
//     defaults: {
//       opacity: 0,
//       autoAlpha: 0,
//       duration: 0.4,
//       ease: "power3.out",
//     },
//     scrollTrigger: {
//       trigger: ".businessScalingContainer",
//       start: "bottom 80%",
//       scrub: 2,
//     },
//   }).to(".businessScalingContainer", {y:-30,scale:0.5, opacity:0.2, ease:"back"});
</script>
