---
import close from "../assets/images/close.png";
import logoWhite from "../assets/images/logoWhite.png";
---

<div>
  <button class="contactUsButton">Contact us</button>
</div>
<div
  class="contactUsSection absolute top-0 left-0 w-[100%] h-[100vh] opacity-0 "
>
  <div
    class="contactUsContent relative bg-opacity-75 bg-deep-purple-accent-700"
  >
    <div class="w-100 h-10  p-10 pb-0 flex items-center ">
	<img src={logoWhite} width="100px" height="60px" alt="logo">
      <img
        src={close}
        alt="close sign"
        width="20px"
        class="contactUsCloseButton ml-auto hover:cursor-pointer hover:scale-105"
      />
    </div>
    <div
      class="relative px-4 py-8 mx-auto overflow-hidden sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="flex flex-col items-center justify-between xl:flex-row">
        <div class="w-full max-w-xl xl:px-8 xl:w-5/12">
          <div class=" bg-white bg-opacity-20 backdrop-blur-sm rounded drop-shadow-lg p-7 sm:p-10">
            <h3
              class="text-white mb-4 text-2xl font-semibold sm:text-center sm:mb-6 sm:text-2xl"
            >
              Contact <span class="font-bold text-white px-3 bg-blue-700 ">Mascot</span>
            </h3>
            <form>
              <div class="mb-1 sm:mb-2">
                <input
                  placeholder="Full Name"
                  required=""
                  type="text"
                  class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline"
                  id="firstName"
                  name="firstName"
                />
              </div>
              <div class="mb-1 sm:mb-2">
                <input
                  placeholder="E-mail"
                  required=""
                  type="text"
                  class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline"
                  id="email"
                  name="email"
                />
              </div>
              <div class="mb-1 sm:mb-2">
                <textarea
                  placeholder="Message"
                  class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline"
                  id="message"
                  name="message"
                />
              </div>
              <div class="mt-4 mb-2 sm:mb-4">
                <button
                  type="submit"
                  class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white text-lg transition duration-200 rounded shadow-md bg-gradient-to-r from-purple-700 to-blue-700 hover:bg-blue-500 focus:shadow-outline focus:outline-none"
                >
                  Send
                </button>
              </div>
              <p class="text-white text-xs text-whitesm:text-sm">
                We respect your privacy.
              </p>
            </form>
          </div>
        </div>
        <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
          <div id="map" class="h-50"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .contactUsSection {
    clip-path: circle(10%);
    background-color: rgb(174, 152, 213);
    display: none;
  }
  .contactUsContent {
    opacity: 0;
  }
  #map { height: 180px; }
</style>
<script>
  const contactUsButtons = document.querySelectorAll(".contactUsButton");
  for (var i = 0; i < contactUsButtons.length; i++) {
    contactUsButtons[i].addEventListener("click", function () {
      var tl = gsap.timeline({ defaults: { duration: 2 } });
      tl.to(".contactUsSection", {
        clipPath: "circle(100%)",
        display: "block",
        zIndex: 1,
        opacity: 1,
        background:
          "linear-gradient(315deg, rgba(61,110,237,1) 0%, rgba(59,0,80,1) 100%)",
      });
      tl.to(".contactUsContent", { opacity: 1 }, ">0.1");
    });
  }
  document
    .querySelector(".contactUsCloseButton")
    .addEventListener("click", () => {
      var tl = gsap.timeline({ defaults: { duration: 2 } });
      tl.to(".contactUsSection", {
        clipPath: "circle(0%)",
        display: "none",
      });
    });
</script>
