<div class="bg-transparent py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-y-16 gap-x-8 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4  p-20 relative">
        <dt class="text-base leading-7 text-gray-200">SEO</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">100%</dd>
        <hr class="absolute bottom-0 right-0 z-10 border-gray-400 border-[0.5px] w-[50%]" >
        <hr class="absolute top-0 left-0 z-10 border-gray-400 border-[0.5px] w-[50%]" >
      </div>

      <div class="mx-auto flex max-w-xs flex-col gap-y-4 border-gray-400 p-20 border">
        <dt class="text-base leading-7 text-gray-200">Performance</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">100%</dd>
      </div>

      <div class="mx-auto flex max-w-xs flex-col gap-y-4 p-20 relative">
        <dt class="text-base leading-7 text-gray-200">Best Practises</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">100%</dd>
        <hr class="absolute bottom-0 right-0 z-10 border-gray-400 border-[0.5px] w-[50%]" >
        <hr class="absolute top-0 left-0 z-10 border-gray-400 border-[0.5px] w-[50%]" >
      </div>
    </dl>
  </div>
</div>
