---
import Navbar from '../components/Navbar.astro';
import backgroundImage from '../assets/images/backgroundtexture.jpeg';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
	</body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,900;1,600;1,900&display=swap');

	html {
		font-family: 'Poppins', sans-serif;
		background: rgb(0,4,36); 
	background: linear-gradient(90deg, rgba(0,4,36,1) 0%, rgba(9,9,50,1) 37%, rgba(5,12,74,0.9234287464985994) 100%),url('../assets/images/backgroundtexture.jpeg');
  /* background-repeat: no-repeat; */
  background-size:auto;
	/* background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg'); */
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
